
body {
    background-color: black;
    font-size: 0.7em;
    font-family: 'Times New Roman', Times, serif;
}

img.net {
    width: 98%;
    display: block;
    margin: auto;
    background: rgb(202, 202, 202);
    padding: 1%;
    margin-top: 10%;
}

img.icon {
    display: inline;
    vertical-align:middle ;
    width: 15px;
    position: relative;
    bottom: 1px;
}


.content {
    position: relative;
}

.links {
    position: absolute;
    margin-left: 7%;
    top: 28%;
}

h2 {
    color: blue;
    text-decoration: underline;
    font-weight: lighter;
}

.links a {
    font-size: 1.2em;
    margin-bottom: 5%;
    display: inline-block;
    color: blue;
}

@media only screen and (max-width: 380px) {
    

}

@media only screen and (min-width: 600px) {
    img.net {
        width: 90%;
        max-width: 800px;
    }
    body {
        font-size: 1.2em;
    }
    img.icon {
        width: 25px;
        bottom: 3px;
    }
}

@media only screen and (min-width: 1000px) {
    img.net {
        margin-top: 3%;
    }
    .links {
        right: 50%;
    }
    body {
        font-size: 1.3em;
    }
    img.icon {
        width: 28px;

    }
}

