body {
    background-color: black;
    /* background-image: url(shore.jpg);
    background-size: cover;
    overflow: hidden; */
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    background-color: black;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.7em;
}

div.content {
    text-align: center;
    margin-top: 150px;
}

img {
    width: 90%;
    margin: auto;
    max-width: 600px;
}

@media only screen and (max-width: 380px) {
    div.content {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 600px) {
    div.content {
        margin-top: 150px;
    }
    h2 {
        font-size: 1.1em;
    }
}