* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    /* overflow-x:  hidden; */
}

div {
    margin-top: 100px;
}


video {
    width: 90%;
    height: auto;
    max-width: 800px;
}

body {
    background-color: black;
    text-align: center;
    color: white;
}