* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    /* overflow-x:  hidden; */
}

*:focus {
    outline: none;
}

button {
    cursor: pointer;
}

body {
    background-color: black;
    color: red;
    text-align: center;
    font-size: 0.8em;
    /* overflow: hidden; */
}



canvas {
    position: absolute;
    top: 0;
    left: 5%;
    z-index: -1;
}

img {
    transform-origin: center;
}

svg {
    width: 90%;
    z-index: 2;
}

div.container {
    position: relative;
}

div.text {
    margin: 10px;
}

div.puzzleSVG {
    position: relative;
}

div.partSelect {
    /* width: 250%; */
    margin: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

path {
    cursor: pointer;
}

.partSelect img{
    max-width: 21%;
    cursor: pointer;
}

img.background {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    z-index: -1;
}

div.back {
    text-align: left;
    padding: 5px;
    position: absolute;
}

div.gestater {
    margin: 20px;
}

.partSelect img.selected {
    border: 2px solid red;
    box-shadow: 0 0 10px red;
}

.partSelect img.placed {
    border: 2px solid blue;
    box-shadow: 0 0 10px blue;
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 0.7em;
    }

    .partSelect img {
        max-width: 20%;
    }
}

@media only screen and (min-width: 480px) {

    body {
        font-size: 1.1em;
    }

    svg {
        width: 49%;
    }

    img.background {
        width: 49%;
        left: 25.5%;
    }

    canvas {
        left: 25.5%;
    }

    .partSelect img {
        max-width: 150px;
    }

}

@media only screen and (min-width: 1280px) {


    svg {
        width: 25%;
    }

    img.background {
        width: 25%;
        left: 37.5%;
    }

    canvas {
        left: 37.5%;
    }

}

@media only screen and (min-width: 1440px) {


}

@media only screen and (min-width: 2000px) {
    body {
        font-size: 1.8em;
    }

    button {
        font-size: 1em;
    }
}
