* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

body {
    color: black;
    text-align: center;
    background-color: black;
    overflow-x: hidden;
}

div.back{
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 8px;
}

h1 {
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

canvas {
    max-height: 20vh;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
div#canvas_container {
    margin-top: 10px;
    overflow-x: auto; 
}

div.main {
    background-color: white;
    padding: 10px;
}

div.roy {
    position: relative;
    width: 100%;
    background-color: black;
    text-align: right;
}

img {
    width: 110%;
    margin: 20px;
}

img#tick {
    position: absolute;
    top: -1px;
    right: 15%;
    margin: 0;
    transform-origin:top ;
    scale: 0.4;
    z-index: 1;

}

h2 {
    position: absolute;
    margin-top: 20px;
    font-size: 1em;
    display: inline-block;
}

@media only screen and (max-width: 380px) {

}
 
@media only screen and (min-width: 480px) {
    canvas {
        max-width: 100%;
        max-height: 100px;
    }
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.5em;
        translate: -13%;
    }

    img {
        width: 70%;
    }

    img#tick {
        left: 6%;
        scale: 0.3;
    }

}

@media only screen and (min-width: 1280px) {
    img {
        max-height: 1000px;
        width: auto;
    }
    img#tick {  
        left: 45%;
        scale: 0.5;
    }

}

@media only screen and (min-width: 1440px) {
    img#tick {
        left: 59%;
    }

}

@media only screen and (min-width: 2000px) {

}
