
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 100%;
    display: block;
    margin: auto;
}

img#avirex {
    width: 40%;

}

.title {
    background-color: rgb(0, 0, 0);
}

body {
    background-color: black;
    color: white;
    font-size: 0.9em;

}

/* div.history img {
    width: 60%;
    margin-top: 5px;
}

img#rec1{
    float: right;
    width: 50%;
    margin-left: 1%;
    margin-top: 1%;
} */


div.history img {
    width: 90%;
    margin-top: 1%;
    max-width: 700px;
}

.sNav {
    width: 15%; 
    position: fixed; 
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ff0000; 
    overflow-x: hidden;
    position: absolute;
    margin-top: 31%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-left: 2%;
    max-width: 200px;
}

.sNav a {
    margin-bottom: 10%;
    font-size: 0.7em;
    color: #fbff00;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.notNav {
    margin-left: 20%; 
}

.content {
    margin-right: 1%;
    font-size: 0.7em;
}

.content p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.content h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.content h2 {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}


h3.poem {
    font-weight: lighter;
    font-size: 1.1em;
    text-align: center;
    margin: 1%;
    margin-top: 2%;
}

h3.poem2 {
    font-weight: lighter;
    text-align: center;
    margin: 1%;
    margin-top: 2%;
    font-size: 0.9em;
    color: rgb(112, 116, 158);

}

h4.poem {
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2%;
    color: rgb(112, 116, 158);
}


div.table {
    display: inline-block;
    width: 46%;
    border: solid;
    border-color: red;
    border-width: 2px;
    padding-left: 1%;
    margin-left: 1%;
    border-top: hidden;
    border-bottom: hidden;
    
    
}

div.active li {
    list-style-type: none;
    border: solid;
    border-color: red;
    border-width: 2px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}

hr {
    border-color: red;
    margin: 0;
    padding: 0;
    
}

hr.hrA{
    margin-left: -25%;
    width: 125.5%;
}

hr.hrB {
    margin-left: -15%;
    width: 115.5%;
}

div.table h2 {
    display: inline-block;
}


footer {
    margin: 1%;
    text-align: right;
    font-size: 0.5em;
}

div.temp br {
    display: none;
}

div.finnant img{
    width: 40%;
    float: right;
    margin-left: 1%;
    max-width: 500px;

}

input#name {
    margin-left: 2%;
}

div.finnant {
    margin-bottom: 10%;
}

div.form label{
    vertical-align: top;
    margin: 1%;
}

div.form {
    margin: 1%;
    margin-top: 3%;
}

div.form button{
    margin-left: 1%;
    margin-top: 1%;
    font-size: 1em;
}

textarea {
    max-width: 90%;
}

a.eyeball {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 0.8em;
    }

}

@media only screen and (min-width: 600px) {
    body {
        font-size: 1.3em;
    }
    footer {
        font-size: 0.6em;
    }
    div.temp br {
        display: block;
    }
    div.finnant {
        margin-bottom: 23%;
    }
    img#av {
        width: 30%;
    
    }
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 1.5em;
    }

    .title img {
        max-width: 1200px;
        margin-left: 0;
    }

    .notNav {
        margin-left: 18%;
    }
    .sNav {
        margin-top: calc(39vh);
    }

    div.form {
        margin: 0.7%;
        margin-left: 0;

    }
    img#av {
        width: 20%;
    }

    div.history img {
        margin-left: 1%;
    }
}