
* {
    margin: 0;
    padding: 0;
    
}

img {
    width: 100%;
    display: block;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.title {
    background-color: rgb(0, 0, 0);
}

body {
    background-color: black;
    color: white;

}



.sNav {
    width: 15%; 
    position: fixed; 
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ff0000; 
    overflow-x: hidden;
    position: absolute;
    margin-top: 17%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-left: 2%;
    max-width: 250px;
}

.sNav a {
    margin-bottom: 10%;
    font-size: 0.7em;
    color: #fbff00;
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.notNav {
    margin-left: 20%; 
}

.content {
    margin-right: 1%;
    font-size: 0.7em;
}

.content p {
    margin-top: 1%;
    margin-bottom: 1%;
}

.content h1 {
    margin-top: 1%;
    margin-bottom: 1%;
}

.content h2 {
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}


h3.poem {
    font-weight: lighter;
    text-align: center;
    margin: 1%;
    margin-top: 2%;
}

h4.poem {
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2%;
    color: rgb(112, 116, 158);
}


div.table {
    display: inline-block;
    width: 46%;
    border: solid;
    border-color: red;
    border-width: 2px;
    margin-bottom: 1%;
    padding-left: 1%;
    margin-left: 1%;
    border-top: hidden;
    
    
}

li {
    list-style-type: none;
    border: solid;
    border-color: red;
    border-width: 2px;
    margin-right: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
}

hr {
    border-color: red;
    margin: 0;
    padding: 0;
    
}

hr.hrB {
    margin-left: -20%;
    width: 120.5%;
}



div.table h2 {
    display: inline-block;
}


footer {
    margin: 1%;
    text-align: right;
    font-size: 0.5em;
}

@media only screen and (max-width: 380px) {

}

@media only screen and (min-width: 600px) {
    .sNav a {
        font-size: 1em;
    }
}

@media only screen and (min-width: 1000px) {
    .sNav a {
        font-size: 1.3em;
    }
}



