img {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
body {
    color: white;
    background-color: black;
}

.center {
    text-align: center;
}

p {
    font-size: 0.8em;
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.1em;
        margin-bottom: 0;
    }
    p {
        font-size: 0.6em;
    }
    h3 {
        font-size: 0.8em;
    }
    button {
        font-size: 0.5em;
        padding: 0;
    }
}