* {
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: black;
    color: rgb(55, 55, 165);
}

div.content {
    text-align: center;
    margin-top: 150px;
}

img {
    width: 90%;
    margin: auto;
    max-width: 600px;
    cursor: pointer;

}
 
h2 {
    font-size: 1em;
}

@media only screen and (max-width: 380px) {
    div.content {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 600px) {
    div.content {
        margin-top: 30px;
    }

    h2 {
        font-size: 1.3em;
    }
}