* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(76, 0, 255);
}
a {
    background-color: white;
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
}
img {
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
div.back {
    margin: 2.5%;
    float: right;
}
button {
    font-size: 0.8em;
}