* {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: black;
    color: red;
    text-align: center;
    font-size: 0.8em;
}

div.hanging img {
    margin: -2px;
    display: inline;
    width: 33.3%;
}
div.hanging {
    max-width: 1000px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

div.hanging img.hidden {
    display: none;
}


img.face {
    width: 30%;
    display: block;
    margin: auto;
    max-width: 150px;
    margin-top: 20px;
}


@media only screen and (min-width: 600px) {
    body {
        font-size: 1em;
    }
    img.face {
        width: 40%;
        margin-top: 0;
    }
}

@media only screen and (min-width: 1000px) {
    div.hanging img.hidden {
        display: inline;
    }
    div.hanging img {
        margin: -2px;
        display: inline;
        width: 16.6%;
    }
    div.hanging {
        max-width: 100%;
    }
}