* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    /* overflow: hidden; */
}

body {
    background-color: black;
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
    font-size: 0.8em;
}

div.text {
    margin-top: -10px;
    margin-bottom: 50px;
}

div.image {
    position: relative;
    margin-top: 50px;
}

img {
    width: 60%;
    display: block;
    margin: auto;
    max-width: 250px;
}


button {
    margin: 20px;
}

@media only screen and (max-width: 480px) {
    img {
        max-width: 200px;
    }
    body {
        font-size: 0.7em;
    }
}


@media only screen and (min-width: 1280px) {

    

}

@media only screen and (min-width: 2000px) {
    img {
        max-width: 500px;
    }
    body {
        font-size: 1.2em;
    }
}