* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    /* overflow: hidden; */
}

body {
    background-color: black;
    color: rgba(255, 255, 255, 0.671);
    text-align: center;
}

div.text {
    margin-top: -10px;
    margin-bottom: 50px;
}

div.image {
    position: relative;
    margin-top: 50px;
}

img {
    width: 60%;
    display: block;
    margin: auto;
    max-width: 400px;
}


button {
    margin: 20px;
}

