* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    color: white;
}

img {
    position: absolute;
    width: 210%;
    margin-left: -50%;
}

img.move {
    scale: 0.8;
    top: -15%;
}

div.text {
    text-align: center;
    position: absolute;
    bottom: 30;
    left: 5vw;
    background-color: rgba(0, 0, 0, 0.11);
    scale: 0.8;
}

@media only screen and (max-width: 380px) {

}

@media only screen and (min-width: 480px) {
    img.move {
        max-width: 1500px;
        top: -25%;
        left: 30%;
    }
}

@media only screen and (min-width: 1280px) {
    img.move {
        max-width: 1100px;
        top: -25%;
        left: 65%;
    }
    

}

@media only screen and (min-width: 2000px) {
    img.move {
        max-width: 1900px;
        top: -25%;
        left: 65%;
    }
    div.text {
    bottom: 200;
    left: 10vw;

    scale: 1.8;
}
}