* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    /* overflow: hidden; */
}

body {
    background-color: black;
    color: red;
    text-align: center;
    font-size: 0.9em;
}

div.text {
    margin-top: 20px;
}

div.image {
    position: relative;
    margin-top: 20px;
}

img { 
    height: 55%;
    display: block;
    margin: auto;
    max-width: 175px;
}

div.select {
    margin: 20px;
}

button {
    margin: 20px;
}

.image img {
    transition: opacity 3s ease-out; /* Slow fade effect */
}

.misery, .free {
    display: none;
}

img.puddle {
    margin-top: 20%;
    width: 50%;
    height: auto;
    max-width: 500px;
}

img.m2 {
    height: 55%;
    max-width: 500px;
}

img.m3 {
    height: 55%;
    max-width: 600px;
}

img.m4 {
    max-width: 500px;
    height: 55%;
}

img.m5 {
    max-width: 800px;
    height: 40%;
}

@media only screen and (max-width: 380px) {

}

@media only screen and (max-width: 480px) {
    img.puddle {
        width: 70%;
    }


}

@media only screen and (min-width: 1280px) {
    img.puddle {
        margin-top: 10%;
    }

    body {
        font-size: 1.1em;
    }
}

@media only screen and (min-width: 1440px) {


}

@media only screen and (min-width: 2000px) {
    img.puddle {
        max-width: 700px;
    }
    img {
        max-width: none;
    }
    img.m2  {
        max-width: none;  
    }
    img.m3  {
        max-width: none;  
    }
    img.m4  {
        max-width: none;  
    }
    img.m5  {
        max-width: none;  
    }
    body {
        font-size: 2em;
    }
}