* {
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
}


img#wrong {
    width: 150%;
    display: block;
    margin: auto;
    margin-left: -25%;
    margin-top: 10%;
    max-width: 1000px;
    z-index: 1;

}

img#represent {
    position: absolute;
    width: 90%;
    bottom: 0;
    right: 0;
    max-width: 550px;
    z-index: -1;

}

@media only screen and (max-width: 430px) {
    img#wrong {
        width: 140%;
        margin-top: 0;
        margin-left: -20%;
        margin-top: -10%;
    }
}

@media only screen and (min-device-width: 600px) {
    img#wrong {
        position: absolute;
        top: 0;
        right: 20%;
        width: 80%;
        margin-top: 0;
        z-index: 1;

    }
    img#represent {
    width: 70%;
    bottom: 0;
    right: 0;


}
}

@media only screen and (min-width: 1000px) {

}