body {
    font-size: 0.6em;
    font-family: 'Times New Roman', Times, serif;
}
img {

    width: 100px;

}

@media only screen and (min-width: 600px) {
    body {
        font-size: 1em;
    }
    img {
        width: 200px;
    }
}