* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
body {
    
    background-image: url("../img/ManfleshMeatCo/skin2.jpg");
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 0.8em;
}

.backArrow {
    position: absolute;
    width: 40px;
    margin: 1%;
    color: blue;
    text-align: center;
}

div.content {
    background-color: rgb(87, 0, 0);
    display: block;
    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%; 
    min-height: 100%;
    padding-top: 1%;
    background-image: url("../img/ManfleshMeatCo/meat1.jpg");
}
img {
    width: 85%;
    display: block;
    margin: auto;
}
div.title a{
    position: relative;
    top: -29%;
    margin-top: 3%;
}

img#title {
    width: 100%;
    margin-bottom: 1%;
}

img#title2 {
    display: none;
    position: absolute;
    top: 1%;
    left: 13%;
}

div.title {
    /* background-image: url("../img/ManfleshMeatCo/bone.jpg"); */
    height: 12vw;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align: center;
}


footer a{
    background-color: white;
}

div.nav {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 2%;
    
    background-image: url("../img/ManfleshMeatCo/veiny2.jpg");
}
div.nav a{
    color: rgb(17, 0, 255);
    margin: 2% 1% 2% 0;
    font-size: 0.65em;
    display: inline-block;
    border-color: black;   
}
footer a{

    margin: 1%;
    font-size: 0.8em;
    display: inline-block;

}

img#mission {
    width: 100%;
    margin-top: 5%;
    display: block;
    margin: auto;
    background-color: black;
}
img#niceday {
    margin-top: 5%;
    
}

.legal {
    color: blue;
    background-color: white;
}

#final {
    color: red;
    text-align: center;
    background-color: white;
    font-size: 0.8em;
}

.about {
    margin: 2% 2% 2% 2%;
    color: white;
    
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../img/ManfleshMeatCo/veiny.jpg");
}

.mission {
    margin: 2% 2% 2% 2%;
    color: rgb(255, 0, 0);
    
    background-image: url("../img/ManfleshMeatCo/veiny3.jpg");
}

.r1 {
    color: black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.8em;
}

.center {
    text-align: center;
}

.reasons li{
    text-align: left;
    margin-left: 7%;
    margin-top: 1%;
}

.fine {
    font-size: 0.7em;
}

.quiz {
    background-color: white;
    padding: 1%;
}

.quiz h1 {
    font-size: 2.5em;
}

.quiz a {
    font-size: 2em;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
  
.form {
    margin-top: 5%;
    background-color: #f2f2f2;
    padding: 20px;
}

#girl {
    width: 400px;
    margin-left: 0;
}

.images img{
    margin-top: 5%;
}

#message {
    height: 200px;
}

.blackout {
    display: inline;
    color: black;
    background-color: black;
}

#dave {
    display: inline;
}

div.org1 {
    width: 100%;
    text-align: center;
}

div.org1 div{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    font-size: 0.8em;
}



div.org2 {
    display: block;
}

div.org2 img {
    width: 50%;
}

div.org2 p {
    text-align: center;
}

.nostyle  {
    list-style: none;
}

@media only screen and (max-width: 390px) {
    .backArrow {
        position: absolute;
        width: 30px;
        margin: 0.25%;
        font-size: 0.7em;

    }
}


@media only screen and (min-width: 480px) {
    body {
        font-size: 1em;
    }
    img {
        max-width: 500px;
        
    }
    img#mission {
        max-width: 100%;
    }
    img#title {
        max-width: 2000px;
    }
    div.title {
        margin-bottom: 6%;
        max-height: 200px;
    }
    div.title a{
        top: -30%;
    }
    div.nav a{
        font-size: 1em;  
        margin-left: 4%;
    }
    .r1 {
        font-size: 1em;
    }

    div.org1 p {
        margin-left: 1%;
        margin-right: 5%;
    }
    #final {
        font-size: 1.2em;
    }
}


@media only screen and (min-width: 1000px) {
    .backArrow {
        position: absolute;
        width: 60px;
        font-size: 1.2em;

    }
    img#title {
        margin-bottom: 1%;
        max-width: 1000px;
        display: none;
    }
    div.title {
        margin-top: 0;
        margin-bottom: 15px;
    }
    img#title2 {
        width: 100%;
        max-width: 850px;
        position: relative;
        top: 0;
        left: 0;
        display: block;
        margin: auto;
    }
    div.content {
        padding-top: 1%;
    }
    div.title a{
        top: 0;
    }


    div.nav a{
        font-size: 1.2em;  
        margin: 15px 10px 20px 0;
        margin-left: 4%;
    }


    div.org1 div{
        font-size: 01em;
    }
    #final {
        font-size: 1.5em;
    }
    img#mission {
        width: 80%;
    }
}