* {
    overflow-y: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.content {
    position: relative;
}

div.link {
    color: rgba(247, 113, 224, 0.452);
    position:absolute;
    top: 90px;
    right: -480px;
    font-weight: lighter;
}

a {
    font-weight: bold;
    display: inline-block;
    color: rgba(255, 92, 228, 0.342);
    margin-bottom: 5px;
    margin-left: 10px;
}

a:active {
    color: blueviolet;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

img {
    width: 110%;
    width: 1000px;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 10%;
}

@media only screen and (max-width: 425px) {
    img {
        width: 900px;
    }
    div.link {
        top: 70px;
        right: -450px;
        font-size: 0.em;
    }
}

@media only screen and (min-device-width: 600px) {
    img {
        width: 110%;
        width: 1150px;
        margin-top: 30px;
        margin-left: 3%;
        margin-right: 10%;
        margin-bottom: 10px;
    }
    div.link {
        font-size: 1.1em;
        top: 100px;
        right: -200px;
    }

}

@media only screen and (min-width: 1000px) {
    img {
        margin-right: 0%;
    }
    div.link {
        font-size: 1.2em;
        top: 100px;
        right: 35%;
    }
}