* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}


body {
    background-color: rgb(0, 0, 0);
}
h2 {
    font-size: 0.75em;
    text-align: center;
    color: red;
    /* color: rgb(0, 255, 0);
    margin: 6px;
    position: absolute;
    top: 8%;
    width: 100%;
    display: block; */
    margin: 10px 0;
    font-weight: lighter;
}
div {
    position: relative;
    text-align: center;
    color: red;
}
button {
    margin-top: 20px;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;

}
h3 {
    font-weight: lighter;
    font-size: 0.7em;
    color: rgb(170, 22, 22);
    background-color: rgb(0, 0, 0);
}

div.container {
    position: relative;
}



h2 {
    background-color: rgb(255, 0, 0);
    color: greenyellow;
    margin-bottom: 5px;
    padding-top: 5px;
}

div.quiz {
    background-color: rgb(255, 0, 0);
    font-size: 1.5em;
    position: absolute;
    scale: 0.7;
    top: 43%;
    left: -2%;
    width: 40%;
    margin-left: 200px;
}

div.quiz img{
    width: 100%;
    background-color: black;
}

img#enter {
    width: 95%;
}

img.line {
    background-color: black;
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 50px;
}

/* withering */
div.withering {
    text-align: centers;
    position: absolute;
    right: 0;
    margin-top: 25%;
    margin-right: 20%;
    font-size: 0.7em;
    display: inline-block;
    scale: 2;
}

div.withering a{
    color: rgb(255, 123, 0);
    background-color:rgb(54, 25, 63);
    padding-left: 2px;
    padding-right: 2px;
}

div.withering a:active{
    color: rgb(255, 255, 255);
}

div.withering img {
    width: 60px;
    margin-bottom: -4px;
    z-index: -1;
}

@media only screen and (max-width: 380px) {
    div.speech{
        font-size: 7px;
        width: 75px;
        top: calc(16vw);
    }
    h3 {
        font-size: 9px;
    }
    button {
        font-size: 10px;
    }

    div.withering {
        scale: 1.5;
    }
}

@media only screen and (min-width: 700px) {
    div.speech {
        font-size: 0.8em;
        width: 190px;
        top: 17%;
        left: 48%;
    }
    svg {
        height: 85%;
        width: auto;
    }
    h2 {
        font-size: 1.5em;
        /* width: 90%;
        left: 5%; */
    }
    h3 {
        font-size: 1.6em;
    }
    h3.main {

        left: 19%;
        top: 28%;
    }
    h3.music {
        right: 20%;
        top: 25%;
    }
    button {
        font-size: 0.9em;
    }
    div.speech {
        border-width: 1.5px;
    }

    div.quiz {
        top: -50;
        left: -2%;
    }

    img.line {
        height: 60px;
    }
    div.withering {
        font-size: 1.3em;
        margin-right: 20%;
        margin-top: 25%;
        scale: 2.5;
    }
    div.withering img {
        width: 100px;
    }
}



@media only screen and (min-width: 980px) {
    button {
        font-size: 1em;
    }
    
}
@media only screen and (min-width: 1920px) {
    h2 {
        font-size: 1.7em;
        width: 50%;
        margin: 10px auto;
    }
    div.quiz {
        margin-top: -50;
        left: 50;
        scale: 0.5;
    }
    h2 {
        font-size: 3em;
        width: 100%;
    }
    img.line {
        height: 100px;
    }
    div.withering {
        font-size: 1.3em;
        margin-right: 33%;
        margin-top: 20%;
    }
}