* {
    overflow-x: hidden;
}

body {
    background-color: rgb(0, 0, 0);
    color: greenyellow;
}

.content {
    position: relative;
    width: 100%;
}


h2 {
    font-size: 0.7em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 3px;
    display: inline-block;
}

h3 {
    font-size: 0.65em;
    margin-top: 0;
    color: rgba(255, 46, 46, 0.712)
}

h4 {
    font-weight: lighter;
}

div.back {
    display: inline;
    vertical-align: top;
    margin-left: 1%;
    text-align: left;
    z-index: 2;
    font-size: 0.9em;
}

div.back a{
    color: rgb(255, 0, 0);
}

div.back a:active {
    color: yellowgreen;
}

/* css is a plague */
.center {
    text-align: center;
}

/* Form */

div.question {
    display: block;
    text-align: center;
    margin: auto;
    font-size: 0.7em;
    margin-bottom: 0;
    padding-bottom: 0;
}

form {
    margin-bottom: 0;
}

select {
    margin-bottom: 30px;
}

input {
    margin-bottom: 20px;
}

label {
    display: block;
}

textarea {
    margin-bottom: 10px;
    width: 45%;
}

button {
    margin-bottom: 0;
}

/* images */
.candle {
    width: 25px;
    position: absolute;
    vertical-align: top;
    top: -10px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

#line {
    width: 100%;
    margin-bottom: 0;
    max-width: 100%;
}

img {
    display: inline-block;
    width: 31%;
    margin: 0.5%;
    margin-bottom: 30px;
    max-width: 150px;
    
}

img.blood {
    width: 75px;
    position: relative;
    margin-top: 0;
}

.hidden {
    display: none;
}


@media only screen and (min-width: 600px) {

    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
        margin-bottom:40px;
    }

    .candle {
        width: 50px;
    }

    .left {
        left: 15px;
    }
    
    .right {
        right: 15px;
    }

    div.question {
        font-size: 1em;
    }

    div.back {
        font-size: 1.3em;
    }
    
}

@media only screen and (min-width: 1000px) {

    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1em;
        margin-bottom:30px;
    }

    .candle {
        width: 50px;
    }

    .left {
        left: 15px;
    }
    
    .right {
        right: 15px;
    }

    div.question {
        font-size: 1em;
    }
    
    .hidden {
        display: inline-block;
    }

    #line {
        width: 33%;
        margin-left: 0;
        margin-right: 0;
    }

    textarea {
        width: 30%;
    }

    div.back {
        margin-left: 20%;
    }

}

@media only screen and (max-width: 380px) {
    img.blood {
        width: 60px;
    }
    h2 {
        font-size: 0.6em;
    }
    h3 {
        font-size: 0.6em;
    }
    textarea {
        width: 50%;
    }
    
}