* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
body {
    background-color: black;
}
img {
    margin-top: 25%;
    height: 40%;
    margin-left: 47%;
    transform: translateX(-50%);
}
svg {
    margin-top: 25%;
    height: 40%;
    margin-left: 47%;
    transform: translateX(-50%);
}

div.container{
    position: relative;
}

div.back {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}
button {
    font-size: 0.8em;
}

/* speech bubble */
div.speech {
    color: black;
    background-color: white;
    /* border-style: solid;
    border-color: black;
    border-width: 0.5px; */
    display: inline-block;
    font-size: 0.5em;
    opacity: 0;
    padding-left: 0.3%;
    padding-right: 0.3%;
    width: 140px;
    text-align: left;
    padding: 1%;
}

div.talk {
    position: absolute;
    top: calc(61vw);
    right: 4%;
    text-align: center;
}

button#next {
    margin-top: 2%;
    font-size: 0.4em;
    opacity: 0;
}

.hide {
    opacity: 0;
}

button#next.show {
    opacity: 1;
}

svg.show {
    opacity: 1;
}

div.show {
    opacity: 1;
}

div.killyourselfcss {
    right: 2%;
}

div.DEQ {
    width: 200px;
    right: -3%;
}

@media only screen and (min-width: 480px) {
    img {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    svg {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    button {
        font-size: 0.9em;
    }
    div.talk {
        top: 46%;
        right: 4%;
    }
    div.killyourselfcss {
        top: 50%;
        right: 2%;
    }
    div.speech {
        font-size: 1.45vw;
        width: 300px;
        
    }
    button#next {
        font-size: 0.75em;
    }
    div.DEQ {
        width: 300px;
        right: 4%;
    }

}

@media only screen and (min-width: 1280px) {
    svg {
        margin-top: 0;
        height: 957px; 
    }
    img {
        margin-top: 0;
        height: 957px; 
        width: auto;
        display: block;
        margin: auto;
    }
    div.back {
        
        bottom: 5%;
    }
    button {
        font-size: 1.2em;
    }
    div.back {
        position: absolute;
        bottom: 2.5%;
    }
    div.de2 {
        bottom: 1%;
    }
    div.talk {

        top: 43%;
        right: 19%;
    }
    div.killyourselfcss {
        right: 18%;
    }
    div.speech {
        font-size: 1.2em;
        width: 400px;
        
    }
    button#next {
        font-size: 1em;
    }
    div.DEQ {
        width: 400px;
        right: 19%;
    }

}