* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
body {
    background-color: black;
}
svg {
    margin-top: 25%;
    height: 50%;
    margin-left: 54%;
    transform: translateX(-50%);
}

div.container{
    position: relative;
}

div.back {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}
button {
    font-size: 1em;
}

@media only screen and (max-width: 380px) {
    button {
        font-size: 0.6em;
    }
}


@media only screen and (min-width: 600px) {
    svg {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
}

@media only screen and (min-width: 1280px) {
    svg {
        margin-top: 0;
        height: 957px;
    }
    div.back {
        position: absolute;
        bottom: 5%;
    }
    button {
        font-size: 1.2em;
    }
}