* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
body {
    background-color: black;
}
img {
    margin-top: 25%; 
    height: 40%;
    margin-left: 47%;
    transform: translateX(-50%);
}
svg.h5 {
    margin-left:54%;

}

svg {
    margin-top: 25%;
    height: 40%;
    margin-left: 47%;
    transform: translateX(-50%);
}

div.container{
    position: relative;
}

div.back {
    width: 100%;
    text-align: center;
    margin-top: 2.5%;
}
button {
    font-size: 0.8em;
}


@media only screen and (max-width: 380px) {
    svg.h5 {
        height: 45%;
        margin-left: 53%;
    }

}


@media only screen and (min-width: 480px) {
    img {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    svg {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(-54%);
    }
    button {
        font-size: 0.9em;
    }

}

@media only screen and (min-width: 1280px) {
    svg {
        margin-top: 0;
        height: 957px; 
    }
    img {
        margin-top: 0;
        height: 957px; 
        width: auto;
        display: block;
        margin: auto;
    }
    div.back {
        
        bottom: 5%;
    }
    button {
        font-size: 1.2em;
    }
    div.back {
        position: absolute;
        bottom: 2.5%;
    }
}