* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}
body {
    background-color: rgb(206, 144, 94);
    background-image: url("../img/ManfleshMeatCo/skin.jfif");
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
div.content {
    background-color: rgb(87, 0, 0);
    display: block;
    margin: auto;
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    height: 100%;
    background-image: url("../img/ManfleshMeatCo/meat1.jpg");
}
img {
    width: 85%;
    display: block;
    margin: auto;
}
img#title {
    position: relative;
    width: 94%;
    top: 2%;
    padding: 3%;
    margin-bottom: 2%;
    background-image: url("../img/ManfleshMeatCo/bone.jpg");
}
div.nav {
    text-align: center;
    display: block;
    margin: auto;
    background-color:darkred;
    background-image: url("../img/ManfleshMeatCo/veiny2.jpg");
}
div.nav a{
    color: rgb(231, 231, 231);
    margin: 2%;
    font-size: 0.7em;
    display: inline-block;
    border-color: black;   
    font-weight: lighter;
}
h2 {
background-color: darkred;
    color: white;
    font-size: 0.7em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    margin: 5% 5% 5% 5%;
    padding: 1%;
}