* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    /* overflow-y: hidden; */
}
body {
    background-color: black;
    color: white;
    /* text-align: center; */
    font-size: 2em;
}

h2 {
    margin-top: 90px;
    font-size: 0.7em;
    text-align: center;
}

svg {
    margin-top:280px;
    height: 75%;
}
 
a {
    cursor: pointer;
}
 
h4 {
    display: inline;
    font-weight: lighter;
    font-size: 0.6em;
    letter-spacing: 3px;
}

h4#l1 {
    color:rgb(97, 97, 97);
}

h4#l2 {
    color: rgb(194, 194, 194);
}

h4#l3 {
    color: white;
}

div.light {
    display: inline;
}

div.back {
    display: inline;
    float: right;
}

a:visited {
    color: blue;
}

a {
    font-size: 0.8em;
    margin: 5px;
}

div.speech {
    position: absolute;
    display: inline-block;
    top: 140%;
    left: 3%;
    color: black;
    max-width: 500px;
    font-size: 0.8em;
    opacity: 0;
}
div.speech p{
    background-color: white;
    padding: 3px;
}


button{
    display: none;
    padding: 1px;
    margin-top: 5px;
    font-size: 1em;
}

button.show {
    display: inline-block;
}

div.show {
    opacity: 1;
}

div.top {
    position:fixed;
    width: 100%;
}


@media only screen and (max-width: 380px) {

}

@media only screen and (min-device-width: 900px) {
    h2 {
        
        font-weight: lighter;
        margin-top: 60px;
    }

    body {
        font-size: 1.5em;
    }

    * {
        overflow: hidden;
    }
    
    svg {
        display: block;
        margin: auto;
        margin-top: 170px;
    }
}

@media only screen and (min-width: 1280px) {
    a {
        font-size: 1em;
        margin: 20px;
    }

}