* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;
}
body {
    background-color: black;
}
div.container {
    position: relative;
    width: fit-content;
}
img {
    height: 190%;
    margin-left: 27%;
    transform: translateX(-50%);
}
h1 {
    font-size: 0.7em;
    font-weight: lighter;
    color: rgba(126, 126, 126, 0.432);
    position: absolute;
    bottom: 20%;
    left: 4%;
}
div.content {
    position: relative;
    bottom: 89%;
    overflow-x: visible;
}
div.poem {
    position: absolute;
    bottom: 200%;
    left: 43%;
    font-size: 0.8em;

}
h2 {
    color: white;
    font-weight: lighter;

}
p {
    color: rgb(133, 133, 133);
    font-weight: lighter;

}
@media only screen and (min-width: 620px) {
    div.poem {
        left: 21%;
        font-size: 1em;
    
    }
}
@media only screen and (min-width: 1210px) {
    div.poem {
        left: 50%;
    
    }
}

