* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: black;
    color: white;
}
h2 {
    font-size: 1.2em;
    font-weight: lighter;
    /* letter-spacing: 25px; */
}
p {
    font-size: 0.7em;
    font-weight: lighter;
    letter-spacing: 15px;
}
p#p1 {
    margin-left: 10%;
}
p#p2 {
    margin-left: -8%;
}
p#p3 {
    margin-left: 50%;
}
a {
    font-size: 0.8em;
}
video {
    display: block;
    width: 70%;
    margin: 2% auto 3% auto;
}
div.content {
    margin: 0 10% 0;
}
@media only screen and (min-width: 700px) {
    video {
        width: 600px;
    }
    div.content {
        margin-left: 35%;
    }
    h2 {
        font-size: 1.8em;
    }
    p {
        font-size: 0.9em;
    }
    a {
        font-size: 1.2em;
    }
    div.back {
        font-size: 1.2em;
    }
}