body {
    background-color: black;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;
}

div.content {
    text-align: center;
    margin-top: 150px;
}

img {
    width: 105%;
    margin: auto;
    max-width: 800px;
    margin-left: -3%;
}

@media only screen and (max-width: 380px) {
    div.content {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 600px) {
    div.content {
        margin-top: 70px;
    }
}