body {
    background-color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

div.content {
    text-align: center;
    margin-top: 150px;
}

img {
    width: 90%;
    margin: auto;
    max-width: 450px;
}

@media only screen and (max-width: 380px) {
    div.content {
        margin-top: 100px;
    }
}

@media only screen and (min-width: 600px) {
    div.content {
        margin-top: 75px;
    }
}