* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
body {
    background-color: black;
}
img {
    margin-top: 25%; 
    height: 50%;
    margin-left: 47%;
    transform: translateX(-50%);
}

svg {
    margin-top: 25%;
    width: 100%;
        /* margin-left: 47%;
        transform: translateX(-50%); */
}

div.container{
    position: relative;
    overflow: visible;
}

div.back {
    width: 100%;
    text-align: center;
    margin-top: 0%;
}
button {
    font-size: 0.8em;
}


@media only screen and (max-width: 380px) {
    button {
        font-size: 0.6em;
    }
    svg {
        height: 43%;
        margin-left: 50%;
    }
}

@media only screen and (min-width: 480px) {
    img {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    svg {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    button {
        font-size: 0.9em;
    }
    div.back {
        
        margin-top: 1%;
    }

}

@media only screen and (min-width: 1280px) {
    svg {
        margin-top: 0;
        height: 85%;
    }
    img {
        margin-top: 0;
        height: 957px; 
        width: auto;
        display: block;
        margin: auto;
    }
    div.back {
        
        margin-top: 1%;
    }
    button {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 2000px) {

    div.back.dontwanttofigureoutwhythisisntworkingsoimdoingthisinstead{
        bottom: 11%;
    }
    button {
        font-size: 1.8em;
    }
}