* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}
body {
    background-color: black;
}
img {
    margin-top: 25%; 
    height: 40%;
    margin-left: 47%;
    transform: translateX(-50%);
}

svg {
    margin-top: 25%;
    width: 100%;
    /* margin-left: 47%;
    transform: translateX(-50%); */
}

div.container{
    position: relative;
    overflow: visible;
}

div.back {
    width: 100%;
    text-align: center;
    margin-top: 1%;
}
button {
    font-size: 0.8em;
}

p {
    color: rgb(255, 255, 255);
    margin-left: 0;
    font-size: 0.8em;
}

a {
    cursor: pointer;
}

div.bottom {
    margin-top: 15px;
    text-align: center;
}

/* speech bubble */
div.speech {
    background-color: white;
    /* border-style: solid;
    border-color: black;
    border-width: 0.5px; */
    display: inline-block;
    font-size: 0.8em;
    opacity: 0;
    padding-left: 0.3%;
    padding-right: 0.3%;
    white-space: nowrap;
    text-align: left;
    padding: 1%;
}

div.speech p {
    color: black;
    margin-left: 0;
}

div.talk {
    position: absolute;
    top: calc(64vw);
    left: 10%;
    text-align: center;
    z-index: 1;
}

button.button {
    margin-top: 2%;
    font-size: 0.7em;
    display: none;
}

div.more {
    top: calc(73vw);
    left: 19%;
}

.hide {
    opacity: 0;
}

button.show {
    display: inline-block;
}

svg.show {
    opacity: 1;
}

div.show {
    opacity: 1;
}


@media only screen and (max-width: 380px) {
    svg {
        height: 43%;
    }
    p {
        font-size: 0.7em;
    }
    div.speech {
        font-size: 0.9em;
    }
    div.talk {
        top: 32vh;
    }
    
    button.button {

        font-size: 0.6em;
    }
    
    div.more {
    top: 40vh;
    left: 17%;
    }
}

@media only screen and (min-width: 480px) {
    img {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    svg {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    button {
        font-size: 0.9em;
    }
    p {
        font-size: 0.9em;
    }
    div.speech {
        font-size: 1.1em;
    }
    div.talk {
        top: calc(52vh);
        left: 10%;
    }
    
    button.button {
        margin-top:2%;
        font-size: 1em;
    }
    
    div.more {
        top: calc(55vh);
        left: 21%;
    }

}

@media only screen and (min-width: 1280px) {
    button {
        font-size: 1.2em;
    }
    svg {
        margin-top: 0;
        height: 85%; 
    }
    img {
        margin-top: 0;
        height: 85%; 
        width: auto;
        display: block;
        margin: auto;
    }
    div.back {
        bottom: 5%;
    }
    div.bottom {
        position: absolute;
        top:2%;
        left: 35%;
    }
    div.bottom p {
        font-size: 1.2em;
        background-color: black;
    }
    div.speech {
        font-size: 1.2em;
    }
    div.talk {
        top: calc(49vh);
        left: 25%;
    }
    button.button {
        font-size: 1.1em;
    }

    div.more {
        top: calc(55vh);
        left: 34%;
    }
}

@media only screen and (min-width: 2000px) {
    div.talk {
        top: calc(52vh);
        left: 25%;
    }
    div.speech {
        font-size: 1.8em;
    }
    button.button {
        font-size: 1.7em;
    }

    div.back {
        position: absolute;
        bottom: -5%;

    }
    button {
        font-size: 1.8em;
    }
    div.more {
        top: calc(58vh);
        left: 32%;
    }

    div.bottom {
        font-size: 1.6em;
    }
}   