* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden; 
;
}
body {
    background-color: black;
}
img {
    margin-top: 25%;
    margin-left: 72%;
    height: 45%;
    transform: translateX(-70%);
    pointer-events:none;
    opacity: 0;
    max-width: 900px;
}

#door {
    position: absolute;
    overflow: hidden;
    z-index: 1;
}


svg {
    margin-top: 25%;
    margin-left: 72%;
    height: 45%;
    transform: translateX(-70%);
    opacity: 0;
    max-width: 900px;
}

svg.show {
    opacity: 1;
}
img.show {
    opacity: 1;
}

div.cave {
    position: relative;
    width: 100%;
    height: 100%;
}

div.container{
    position: relative;
    overflow: visible;
}

div.back {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 63%;

}
button {
    font-size: 0.8em;
}

/* speech bubble */
div.speech {
    color: black;
    background-color: white;
    /* border-style: solid;
    border-color: black;
    border-width: 0.5px; */
    display: inline-block;
    font-size: 0.5em;
    opacity: 0;
    padding-left: 0.3%;
    padding-right: 0.3%;
    width: 40%;
    text-align: left;
}

div.talk {
    position: absolute;
    top: calc(40vw);
    right: -15%;
    text-align: center;
}

button#next {
    margin-top: 2%;
    font-size: 0.5em;
    opacity: 0;
}

.hide {
    opacity: 0;
}

button#next.show {
    opacity: 1;
}

svg.show {
    opacity: 1;
}

div.show {
    opacity: 1;
}

div.m2 {
    width: 80%;
    right: 8%;
    top: calc(31vw);
}

div.m3 {
    width: 70%;
    top: 42vw;
    right: 15%;
}


@media only screen and (max-width: 380px) {


    div.talk {
        position: absolute;
        top: calc(38vw);
        right: -12%;
        text-align: center;
    }
    svg {
        height: 40%;
        margin-left: 73%;
    }

    img {
        height: 40%;
        margin-left: 73%;
    }

    div.m2 {
        width: 80%;
        right: 10%;
        top: calc(23vw);
    }

    div.back {
        top: 56%;
    }

    div.m3 {
        width: 300px;
        top: 43vw;
        right: 5%;
    }

}

@media only screen and (min-width: 480px) {
    img {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }

    svg {
        margin-top: 75px;
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    button {
        font-size: 0.9em;
    }
    div.talk {
        top: 23%;
        right: 5%;
    }
    div.speech {
        font-size: 1.4vw;
        width: 40%;
        
    }
    button#next {
        font-size: 0.8em;
    }

    div.m2 {
        right: 12%;
        top: 20%;
    }

    div.back {
        top: 81%;
    }

    div.m3 {
        width: 500px;
        top: 25vw;
        right: 26%;
    }

}

@media only screen and (min-width: 900px) {
    svg {
        margin-top: 0;
        height: 100%; 
        width: auto;
        display: block;
        margin: auto;
        position: relative;
        transform: translate(0, -100%);
        max-width: none;

    }

    #door{
        position: relative;
        max-width: none;
        
    }

    img {
        margin-top: 0;
        height: 100%; 
        width: auto;
        display: block;
        margin: auto;
    }

    div.cave {
        height: 85%;
    }
    div.back {
        
        top: 87%;

    }
    button {
        font-size: 1.2em;
    }
    div.back {
        position: absolute;
        bottom: 2.5%;
    }
    div.de2 {
        bottom: 1%;
    }
    div.talk {

        top: 23%;
        right: 18%;
    }
    div.speech {
        font-size: 1em;
        width: 35%;
        
    }
    button#next {
        font-size: 1em;
    }
    div.m2 {
        width: 65%;
        right: 18%;
        top: 20%;
    } 
    div.m3 {
        width: 700px;
        top: 150px;
        right: 35%;
    }

    
}

@media only screen and (min-width: 2000px) {

    div.m2 {

        top: 16%;
    }

    div.cave{
        height: 85%;
    }
    div.back {
        position: absolute;
        top: 88%;
    }
    button {
        font-size: 1.8em;
    }
}