body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

div.content {
    text-align: center;
    margin-top: 100px;
}

img {
    width: 90%;
    margin: auto;
    max-width: 600px;
}

h3 {
    font-size: 0.8em;
}

img#kiss {
    width: 50%;
    display: block;
    margin-top: 50px;
    max-width: 400px;
}

@media only screen and (max-width: 380px) {
    div.content {
        margin-top: 75px;
    }
}

@media only screen and (min-width: 600px) {
    img{
        width: 30%;
    }
    img#kiss {
        width: 20%;
    }
    div.content {
        margin-top: 75px;
    }
    h3 {
        font-size: 1em;
    }
}