 body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.8em;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
 }

 a {
    font-size: 1.2em;
    color: white;
 }

 a:active {
    color: red;
 }

 div.content {
    margin-top: 25vh;
 }

 img {
   width: 70px;
 }


 @media only screen and (min-width: 600px) {
    body {
        font-size: 1em;
    }

    img {
      width: 90px;
   }
}