* {
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color: rgb(0, 0, 0);
}
div.content {
    margin-top: 3%;
}
h2 {
    color: rgba(255, 255, 255, 0.356);
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.4px;
    font-size: 0.9em;
    margin-bottom: 1%;
}
img {
    height: 30%;
    margin-left: 40%;
    transform: translateX(-50%);
}
div.index {
    text-align: center;
}
button {
    margin-top: 4%;
    font-size: 0.7em;
}

@media only screen and (max-width: 380px) {
    h2 {
        font-size: 0.7em;
    }
    button {
        font-size: 0.6em;
    }
}

@media only screen and (min-width: 600px) {

    img {
        width: 100%;
        height: auto;
        margin-left: 0;
        transform: translateX(0);
    }
    button {
        font-size: 0.9em;
    }
    h2 {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 950px) {
    img {
        height: 75%;
        width: auto;
        display: block;
        margin: auto;
    }
    button {
        margin-top: 1%;
    }
}