* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}

/* @media only screen and (max-width: 300px) {
    
} */

body {
    background-color: rgb(0, 0, 0);
}
h2 {
    font-size: 0.75em;
    text-align: center;
    color: red;
    /* color: rgb(0, 255, 0);
    margin: 6px;
    position: absolute;
    top: 8%;
    width: 100%;
    display: block; */
    margin: 10px 0;
    font-weight: lighter;
}
svg {
    width: 100%;
    display: block;
    margin: auto; 
    opacity: 0;
}
div {
    position: relative;
    text-align: center;
    color: red;
}
button {
    font-size: 0.5em;
    font-family: Arial, Helvetica, sans-serif;

}
h3 {
    font-weight: lighter;
    font-size: 0.7em;
    color: rgb(170, 22, 22);
    background-color: rgb(0, 0, 0);
}

div.container {
    position: relative;
}

h3.music {
    position: absolute;
    top: 25%;
    right: 15%;
    display: block;
    margin: auto;
}
h3.main {
    position: absolute;
    top: 30%;
    left: 15%;
    display: block;
    margin: auto;
}

/* speech bubble */
div.speech {
    color: black;
    background-color: white;
    /* border-style: solid;
    border-color: black;
    border-width: 0.5px; */
    display: inline-block;
    font-size: 0.45em;
    opacity: 0;
    padding-left: 0.3%;
    padding-right: 0.3%;
    position: absolute;
    top: calc(20vw);
    left: 46%;
    width: 100px;
}

svg.show {
    opacity: 1;
}

div.show {
    opacity: 1;
}

div.quiz {
    width: 35%;
}

h2 {
    background-color: rgb(255, 0, 0);
    color: greenyellow;
    margin-bottom: 5px;
    padding-top: 5px;
}

div.quiz {
    background-color: rgb(255, 0, 0);
    position: absolute;
    scale: 0.7;
    top: 43%;
}

div.quiz img{
    width: 100%;
    background-color: black;
}

img#enter {
    width: 95%;
}

img.line {
    background-color: black;
    position: absolute;
    bottom: -1px;
    left: 0;
}
@media only screen and (max-width: 380px) {
    div.speech{
        font-size: 7px;
        width: 75px;
        top: calc(16vw);
    }
    h3 {
        font-size: 9px;
    }
    button {
        font-size: 6px;
    }
}

@media only screen and (min-width: 700px) {
    div.speech {
        font-size: 0.8em;
        width: 190px;
        top: 17%;
        left: 48%;
    }
    svg {
        height: 85%;
        width: auto;
    }
    h2 {
        font-size: 1.5em;
        /* width: 90%;
        left: 5%; */
    }
    h3 {
        font-size: 1.6em;
    }
    h3.main {

        left: 19%;
        top: 28%;
    }
    h3.music {
        right: 20%;
        top: 25%;
    }
    button {
        font-size: 0.9em;
    }
    div.speech {
        border-width: 1.5px;
    }

    div.quiz {
        top: 54%;
    }
}
@media only screen and (min-width: 980px) {
    h2 {
        font-size: 1.7em;
        /* width: 60%;
        left: 20%; */
    }
    h3.main {
        left: 27%;
        top: 26%;
    }
    h3.music {
        right: 24%;
        top: 23%;
    }
    button {
        font-size: 1em;
    }
    
}
@media only screen and (min-width: 1600px) {
    h2 {
        font-size: 1.7em;
        width: 50%;
        margin: 10px auto;
    }
    button {
        font-size: 1em;
    }
    h3 {
        font-size: 1.7em;
    }
    h3.main {
        left: 35%;
    }
    h3.music {
        right: 35%;
    }
    div.quiz {
        top: 33%;
        left: 13%;
        scale: 0.4;
    }
}