* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    /* overflow-y: hidden; */
}
body {
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
}
h1 {
    text-align: center;
    font-size: 4em;
    color: darkred;
}
h2 {
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    position: relative;
    bottom: 42;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    font-weight: lighter;
}
div {
    text-align: center;
    letter-spacing: 2px;
}
button {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -3%;
}


div.cave {
    margin: 0;
}
svg {
    display: block;
    margin: auto;
    max-width: auto;
    height: 85%;
    opacity: 0;
}

img#titleimg {
    width: 65%;
    display: block;
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

/* speech bubble */
div.speech {
    background-color: white;
    /* border-style: solid;
    border-color: black;
    border-width: 1.5px; */
    display: inline-block;
    position: absolute;
    top: 36%;
    left: 25%;
    opacity: 0;
    font-size: 0.8em;
    padding-left: 0.3%;
    padding-right: 0.3%;
}

svg.show {
    opacity: 1;
}

div.show {
    opacity: 1;
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 1em;
    }
}


@media only screen and (max-width: 700px) {
    h1 {
        font-size: 2.5em;
    }
    svg {
        max-width: 90%;
        height: auto;
    }
    button {
        font-size: 0.7em;

    }
    h2 {
        font-size: 2em;
        position: relative;
        bottom: 3%;
    }

    div.speech {
        top: 27%;
        left: 22%;
        font-size: 0.5em;
        letter-spacing: 0.15em;
    }
  }
  @media only screen and (max-width: 540px) {
    h1 {
        font-size: 1.8em;
    }
    button {
        font-size: 0.5em;

    }
    h2 {
        font-size: 0.7em;
        position: relative;
        bottom: 2%;
    }

    div.speech {
        top: 21%;
        left: 23%;
        font-size: 0.1em;
        letter-spacing: 0.5em;
        border-width: 0.5px;
    }
  }

  @media only screen and (min-width: 540px) {
    h2 {
        font-size: 1.1em;
        position: relative;
        bottom: 4%;
    }

  }

  @media only screen and (min-width: 760px) {
    h2 {
        font-size: 1.5em;
        position: relative;
        bottom: 4%;
    }

  }

  @media only screen and (max-width: 300px) {
    h1 {
        font-size: 1.2em;
    }
    button {
        font-size: 6px;
    }
    }

  @media only screen and (min-width: 1000px) {
    div.speech {
        left: 30%;
    }

    button {
        margin-top: -1.5%;
    }

    img#titleimg {
        width: 40%;
        margin-top: 0.8%;
        margin-bottom: 0.8%;
    }
  }
  @media only screen and (min-width: 1400px) {
    div.speech {
        left: 37%;
    }
    img#titleimg {
        width: 30%;
        margin-top: 0.8%;
        margin-bottom: 0.8%;
    }
  }
