* {
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
h1 {
    text-align: center;
    font-size: 4em;
    color: darkred;
}
h2 {
    color: rgba(0, 0, 0, 0.61);
    text-align: center;
    position: relative;
    bottom: 42;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    font-weight: lighter;
}
div {
    text-align: center;
    letter-spacing: 2px;
}
button {
    font-size: 1em;
    padding: 0.3%;
}
svg {
    display: block;
    margin: auto auto;
    max-width: 100%;
    max-height: 85%;
}
@media only screen and (max-width: 900px) {
    h1 {
        font-size: 2em;
    }
    svg {
        max-width: 90%;
    }
    button {
        font-size: 0.7em;

    }
    h2 {
        font-size: 1em;
        position: relative;
        bottom: 3%;
    }
  }
@media only screen and (max-width: 700px) {
    h1 {
        font-size: 2.5em;
    }
    svg {
        max-width: 90%;
    }
    button {
        font-size: 0.7em;

    }
    h2 {
        font-size: 1em;
        position: relative;
        bottom: 3%;
    }
  }
  @media only screen and (max-width: 540px) {
    h1 {
        font-size: 2em;
    }
    svg {
        max-width: 90%;
    }
    button {
        font-size: 0.5em;

    }
    h2 {
        font-size: 0.7em;
        position: relative;
        bottom: 2%;
    }
  }
