* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
}


svg {
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}

body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    background-color: black;
}

@media only screen and (min-aspect-ratio:1280/2267) {
    * {
        overflow-y: scroll;
    }
    svg {
        width: 100%;
        height: auto;
    }
    
}


