* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}


svg {
    height: 100%;
    margin-left: 55%;
    transform: translateX(-50%);
}

body::-webkit-scrollbar {
    display: none;
}
body {
    /* -ms-overflow-style: none;  */ 
    scrollbar-width: none;
    background-color: black;
}
h1 {
    color: white;
    font-size: 0.9em;
    margin-bottom: 0.5%;
}
h2 {
    color: white;
    font-size: 0.35em;
    margin-bottom: 2%;
    margin-left: 1%;
    font-weight: lighter;
    white-space: nowrap;
}
a {
    color: white;
    font-size: 0.6em;
    display: inline-block;
    margin:  0.5% 5%;
    margin-right: 0;
}
a:link {
    color: white;
}
a:visited {
    color: rgb(177, 177, 177);
}
a:active {
    color: rgb(115, 115, 194);
}
button {
    font-size: 0.7em;
}
div.container {
    position: relative;
}
div.posts {
    position: absolute;
    top: 9vh;
    left: 3%;
    width: 55%;
    max-width: 490px;
    text-wrap: nowrap;
    
}


li {
    margin-right: 0;
    padding-right: 0;
}



div.titles {
    position: absolute;
    top: 4vh;
    left: 3%;
}

div.back {
    position: absolute;
    bottom: 66%;
    left: 86%;
    font-size: 1.3em;
}
div.back a {
    color: blue;
}
div.back a:active {
    color: white;
}

a#a1{
    position: relative;
    z-index: 1;
}

path#path1{
    position: relative;
    z-index: 1;
}




@media only screen and (min-aspect-ratio:1280/2267) {
    * {
        overflow-y: auto;
    }
    svg {
        width: 100%;
        height: auto;
        margin-left: 50%;
    }
    
}

@media only screen and (max-width: 380px) {
    div.posts {
        left: 3%;
        top: 9vh;
    }
    h1 {
        font-size: 0.6sem;

    }
    h2 {
        font-size: 6px;

    }
    a {
        font-size: 0.5em;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 4%;
    }   
    li {
        height: 18px;
        width: 160px;
    }
    ul {
        width: 160px;
    }
    
    svg {
        height: 110%;
        margin-left: 55%;
        transform: translateX(-50%);

    }
}

@media only screen and (min-width: 630px) {
    div.posts {
        left: 4%;
        top: 1vh;
        width: 47%;
    }
    div.titles {
        top: 4vh;
    }
    h1 {
        font-size: 1.5em;

    }
    h2 {
        font-size: 0.6em;

    }
    a {
        font-size: 1em;
        
    }    
}
@media only screen and (min-width: 750px) {
    div.posts {
        left: 4%;
        top: 16vh;
    }
    div.titles {
        top: 7vh;
    }
    h1 {
        font-size: 1.9em;

    }
    h2 {
        font-size: 0.8em;

    }
    a {
        font-size: 1.2em;
        
    }    
}
@media only screen and (min-width: 970px) {
    h1 {
        font-size: 2.1em;

    }
    h2 {
        font-size: 1em;

    }
    a {
        font-size: 1.4em;
    } 
    ul {
        width: 100%;
    } 
}
@media only screen and (min-width: 1260px) {
    svg {
        height: 2200;
    }
    h1 {
        font-size: 2.5em;

    }
    h2 {
        font-size: 1.1em;
    }
    a {
        font-size: 1.5em;
    }

    div.posts {
        left: 20%;
        top: 18vh;

    }

    div.titles {
        left: 20%;
    }
    div.back {
        left: 75%;
    }
}
