* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}


svg {
    height: 100%;
    margin-left: 55%;
    transform: translateX(-50%);
}

body::-webkit-scrollbar {
    display: none;
}
body {
    -ms-overflow-style: none; 
    scrollbar-width: none;
    background-color: black;
}
h1 {
    color: white;
    font-size: 1em;
    margin-bottom: 0.5%;
}
h2 {
    color: white;
    font-size: 0.45em;
    margin-bottom: 2%;
    margin-left: 1%;
    font-weight: lighter;
}
a {
    color: white;
    font-size: 0.7em;
    display: inline-block;
    margin:  0.5% 5%;
}
a:link {
    color: white;
}
a:visited {
    color: rgb(177, 177, 177);
}
a:active {
    color: rgb(115, 115, 194);
}
button {
    font-size: 0.7em;
}
div.container {
    position: relative;
}
div.posts {
    position: absolute;
    top: 4%;
    left: 3%;
}

div.back {
    position: absolute;
    bottom: 66%;
    left: 86%;
    font-size: 1.3em;
}
div.back a {
    color: blue;
}
div.back a:active {
    color: white;
}
@media only screen and (min-aspect-ratio:1280/2267) {
    * {
        overflow-y: auto;
    }
    svg {
        width: 100%;
        height: auto;
        margin-left: 50%;
    }
    
}
@media only screen and (min-width: 630px) {
    div.posts {
        left: 4%;
    }
    h1 {
        font-size: 1.9em;

    }
    h2 {
        font-size: 0.8em;

    }
    a {
        font-size: 1.3em;
        
    }    
}
@media only screen and (min-width: 970px) {
    h1 {
        font-size: 2.1em;

    }
    h2 {
        font-size: 1em;

    }
    a {
        font-size: 1.4em;
    } 
    ul {
        width: 81%;
    } 
}
@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 3.2em;

    }
    h2 {
        font-size: 1.5em;
    }
    a {
        font-size: 2.4em;
    }
    ul {
        width: 100%;
    }   
}
