* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
} 

body {
    background-color: black;
}

div.image {
    display: block;
    margin: auto;
    width: fit-content;
    margin-top: 100px;
    max-width: 350px;
    overflow: visible;
}

img#fly {
    display: block;
    margin: auto;
    margin-left: 35;
    width: 70%;
}


h2 {
    text-align: center;
    margin-top: 50px;
    color: blue;
    font-weight: lighter;
}

@media only screen and (max-width: 380px) {

}

@media only screen and (min-width: 600px) {

    h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 1000px) {

}