* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    overflow: hidden;
}


body{

    background-color: red;
}

.t1 {
    position: absolute;
}

.t2 {
    position: absolute;
    top: 1px;
    left: 2px;
}


img {
    width: 100%;
    margin-top: 10%;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 380px) {
    body {
        font-size: 0.9em;
    }

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 1000px) {

}