* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html, body {
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    background-color: black;
    text-align: center;
}

div.content {
    position: relative;
    text-align: center;
}

div.back {
    margin: 5px;
}

img {
    width: 800px;
}

img#planet {
    max-width: 1000px;
    margin-top: -50px;
}

img#story {
    max-width: 1000px;
    margin-top: -50px;
}

div.background {
    text-align: center;
    font-size: 9em;
    position: absolute;
    top: 0;
    color: rgba(0, 0, 0, 0.281);
    z-index: -1;

}

#looking {
    color: rgba(0, 26, 255, 0.589);
    position: absolute;
    bottom: 0;
    font-size: 0.7em;
}


@media only screen and (max-width: 380px) {
    img {
        width: 600px;
    }

}

@media only screen and (min-width: 600px) {
    img {
        width: 90%;
    }
    html, body {
        overflow-y: auto;
    }
    #looking {
        font-size: 1em;
    }


}

@media only screen and (min-width: 1000px) {
    img#story {
        margin-top: -50px;
    }
    img {
        width: 50%;
    }
}
