* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Times New Roman', Times, serif;
}


body, html {

    background-color: black;
}

div.back {
    margin: 10px;
}

div.content {
    text-align: center;
}

svg {
    width: 90%;
    margin-top: -50%;
}

img {
    width: 90%;
    margin-top: 10%;
}

@media only screen and (max-width: 380px) {

}

@media only screen and (min-width: 600px) {
    svg {
        margin-top: -50px;
    }
}

@media only screen and (min-width: 1000px) {
    svg {
        margin-top: 10px;
    }
}